* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
input,
button {
  font-family: "Montserrat";
}

body {
  background: url("https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg")
    no-repeat center/cover;
  min-height: 100vh;
  color: #e1e1e6;
  display: grid;
  place-items: center;
}

header {
  display: grid;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  font-family: "Oxanium";
  font-size: 2.5rem;
  line-height: 100%;
  color: #dae4f2;
}

h1 div {
  color: #6f9de2;
}

main {
  display: grid;
  gap: 1.25rem;
  max-width: 368px;
}

section {
  background: #191d24;
  padding: 1.5rem;
  border: 1px solid #21252c;
  border-radius: 1rem;
}

.section-header {
  display: flex; /* coloca sobre evento ao lado do ao vivo */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Oxanium";
  font-size: 1.25rem;
  line-height: 100%;
  color: #c8d0da;
}

.badge {
  font-size: 0.75rem;
  line-height: 160%;
  font-weight: 600;
  color: #9871f3;

  display: flex; /* vai colocar a img html ao lado do ao vivo */
  align-items: center;
  gap: 0.5rem;
}

/*vai por um elemento html no CSS*/
.badge::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url("https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/radio.svg")
    no-repeat center;
}

p {
   font-size: 0.85rem;
   line-height: 160%;

   color: #95A1B1;
}

.registration h2 {
   margin-bottom: 1.5rem;
}

form {
   display: grid;
   gap: 1.5rem;
}
.input-wrapper {
   display: grid;
   gap: 0.75rem;
}

.input-group {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   height: 3rem;
   border: 1px solid #21252c;
   background-color: #13161B;
   padding: 0 1rem; /*2 informações primeira(0) é o eixo y(cima e baixo) e o a segunda eixo x(laterais)*/
   border-radius: 10px;
}

input {
   background: none;
   border: none;
   width: 100%;
   font-size: 1rem;
   color: #e1e1e6;
}

input::placeholder {
   line-height: 160%;
   color: #6F7D90;
}