* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
input,
button {
  font-family: "Montserrat";
}

body {
  background: url("https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg")
    no-repeat center/cover;
  min-height: 100vh;
  color: #e1e1e6;
  display: grid;
  place-items: center;
}

header {
  display: grid;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  font-family: "Oxanium";
  font-size: 2.5rem;
  line-height: 100%;
  color: #dae4f2;
}

h1 div {
  color: #6f9de2;
}

main {
  display: grid;
  gap: 1.25rem;
  max-width: 368px;
}

section {
  background: #191d24;
  padding: 1.5rem;
  border: 1px solid #21252c;
  border-radius: 1rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

h2 {
   font-family: 'Oxanium';
   font-size: 1.25rem;
   line-height: 100%;
   color: #C8D0DA;
}

.badge {
   font-size: 0.75rem;
   line-height: 160%;
   font-weight: 600;
   color: #9871F3;
}